<% provide(:title, "Home") %>

<%= render 'layouts/flash' %>

<div class="center jumbotron">
  <h1>Brew Recipe</h1>
  <p>more to come.</p>
  <% unless logged_in? %> 
    <%= link_to "Sign up", new_user_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
