<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>Brew Blog</h1>
  <p>
  home page for brew blog.
  </p>
  <div class="btn btn-lg">
    <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
