- if @user.errors.any?
  .alert.alert-danger
    "The form contains #{pluralize(@user.errors.count, 'error')}"
  .alert.alert-warning
    %ul
      - @user.errors.full_messages.each do |msg|
        %li= msg
