<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div id="user-widget">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Home", root_path %></li>
        <% if current_user %>
          Welcome <strong><%= current_user.name %></strong>!
          <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
        <% else %>
          <li><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
